footer .wrap .hmenu{color: black;
   .container{color: black;
      .sub1{color: black;
         h2.hide{color: black;

         }
         ul.product{color: black;
            li{color: black;
               h3{color: black;
                  a{color: black;

                  }
               }
               ul{color: black;
                  li{color: black;
                     a{color: black;
                        
                     }
                  }
               }
            }
         }
      }
      .sub2{color: black;
         h2.hide{color: black;
            ul.service{color: black;
               li{color: black;
                  a{color: black;

                  }
               }
            }
         }
      }
   }
}